



/* Responsive Tables
  ================================== */
.responsiveTable {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  justify-content: space-between;
  flex-direction: row;
  border: 1px solid $gray-dark;
  border-top: none;
  
  &:nth-of-type(2n+1) {
	background: $gray-lighter;
  }
  
  /* hide the h5 cell titles in desktop view */
  h5 {display: none}
  
  &.responsiveTableHeader {
	border-top: 1px solid $gray-dark;
	background: $gray-light;
	
	
	.cell {
	  h5 {
		display: block;
		font-size: 1.8rem;
		color: $gray-dark;
	  }
	}
  }
  
  
  .sa {
	color: $gray-dark;
	font-size: 3rem;
	top: 0;
	
	&:hover {
	  color: $brand-primary;
	}
  }
  
  
  @media (max-width: $screen-sm-min) {
	
	border-top:  1px solid $gray-dark;
	flex-direction: column;
	margin: 0 0 3em 0;
	
	&.responsiveTableHeader {
	  display: none;
	}
	
	h5 {
	  display: inline-block;
	  min-width: 10rem;
	}
	
  }
  
  .cell {
	box-sizing: border-box;
	padding: 0.5rem 0.8rem;
	border-right: 1px solid $gray-light;
	line-height: 4rem;
	
	/* create recursive size classes size-20 to size-1 (each being 5% width) */
	$num: 20;
	
	@while $num > 0 {
	  &.size-#{$num} {
		width: #{$num*5%};
	  }
	  
	  $num: $num - 1;
	}
	
	
	&:last-of-type {
	  border-right: none;
	}
	
	
	//small screen
	@media (max-width: $screen-xs-max) {
	  
	  width: 100%;
	  border-right: none;
	  
	  $num: 20;
	  
	  @while $num > 0 {
		&.size-#{$num} {
		  width: 100%;
		}
		
		$num: $num - 1;
	  }
	  
	}
	
	
	h5 {
	  font-size: 1.5rem;
	  color: $gray-dark;
	  margin: 0 0 0.5rem 0;
	}
  }
  
}
