$gray-darker:            #3B3C3C !default; // #222
$gray-dark:              lighten(#000, 20%) !default;   // #333
$gray:                   lighten(#000, 33.5%) !default; // #555
$gray-light:             lighten(#000, 60%) !default;   // #999
$gray-lighter:           lighten(#000, 93.5%) !default; // #eee


$brand-primary:         #0095c8 !default;
$brand-darker:         #005c7c !default;
$brand-success:         #5cb85c !default;
$brand-info:            #5bc0de !default;
$brand-warning:         #f0ad4e !default;
$brand-danger:          #d9534f !default;


//== Media queries breakpoints
//
//## Define the breakpoints at which your layout will change, adapting to different screen sizes.

// Extra small screen / phone
// Note: Deprecated $screen-xs and $screen-phone as of v3.0.1
$screen-xs:                  480px !default;
$screen-xs-min:              $screen-xs !default;
$screen-phone:               $screen-xs-min !default;

// Small screen / tablet
// Note: Deprecated $screen-sm and $screen-tablet as of v3.0.1
$screen-sm:                  768px !default;
$screen-sm-min:              $screen-sm !default;
$screen-tablet:              $screen-sm-min !default;

// Medium screen / desktop
// Note: Deprecated $screen-md and $screen-desktop as of v3.0.1
$screen-md:                  992px !default;
$screen-md-min:              $screen-md !default;
$screen-desktop:             $screen-md-min !default;

// Large screen / wide desktop
// Note: Deprecated $screen-lg and $screen-lg-desktop as of v3.0.1
$screen-lg:                  1200px !default;
$screen-lg-min:              $screen-lg !default;
$screen-lg-desktop:          $screen-lg-min !default;

// So media queries don't overlap when required, provide a maximum
$screen-xs-max:              ($screen-sm-min - 1) !default;
$screen-sm-max:              ($screen-md-min - 1) !default;
$screen-md-max:              ($screen-lg-min - 1) !default;





/* Responsive Tables
  ================================== */
.responsiveTable {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  justify-content: space-between;
  flex-direction: row;
  border: 1px solid $gray-dark;
  border-top: none;
  
  &:nth-of-type(2n+1) {
	background: $gray-lighter;
  }
  
  /* hide the h5 cell titles in desktop view */
  h5 {display: none}
  
  &.responsiveTableHeader {
	border-top: 1px solid $gray-dark;
	background: $gray-light;
	
	
	.cell {
	  h5 {
		display: block;
		font-size: 1.8rem;
		color: $gray-dark;
	  }
	}
  }
  
  
  .sa {
	color: $gray-dark;
	font-size: 3rem;
	top: 0;
	
	&:hover {
	  color: $brand-primary;
	}
  }
  
  
  @media (max-width: $screen-sm-min) {
	
	border-top:  1px solid $gray-dark;
	flex-direction: column;
	margin: 0 0 3em 0;
	
	&.responsiveTableHeader {
	  display: none;
	}
	
	h5 {
	  display: inline-block;
	  min-width: 10rem;
	}
	
  }
  
  .cell {
	box-sizing: border-box;
	padding: 0.5rem 0.8rem;
	border-right: 1px solid $gray-light;
	line-height: 4rem;
	
	/* create recursive size classes size-20 to size-1 (each being 5% width) */
	$num: 20;
	
	@while $num > 0 {
	  &.size-#{$num} {
		width: #{$num*5%};
	  }
	  
	  $num: $num - 1;
	}
	
	
	&:last-of-type {
	  border-right: none;
	}
	
	
	//small screen
	@media (max-width: $screen-xs-max) {
	  
	  width: 100%;
	  border-right: none;
	  
	  $num: 20;
	  
	  @while $num > 0 {
		&.size-#{$num} {
		  width: 100%;
		}
		
		$num: $num - 1;
	  }
	  
	}
	
	
	h5 {
	  font-size: 1.5rem;
	  color: $gray-dark;
	  margin: 0 0 0.5rem 0;
	}
  }
  
}
